.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}
.dialog {
}

.dialog a {
  color: #444444;
  text-decoration: none;
}
.dialog.active {
  color: #ff8e88;
}

.messages {
  padding: 10px;
}

.message {
  color: #444444;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.button {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  background-color: #ff8e88;
  color: #ffffff;
  border-color: transparent;
  font-size: 14px;
  margin-top: 10px;
}
